.jumbotron {
    padding: 5px;
    margin-bottom: 10px;
    color: inherit;
    background-color: #eee
}

.image_size
{
    padding-top: 10px;
    height: 230px;
    width: 240px;
    
}

.carousel_div
{
    
   width: 50%;
   height: 400;
}
.carousel_img
{
    padding-left: 0px;
    width: 100%;
    height: 100%;
    
}


.ul_photos {
    padding:0 0 0 0;
    margin:0 0 0 0;
    list-style:none;
}
.li_photos {
    list-style:none;
    cursor: pointer;
    height: 145px;
    width: 190px;
}


.photos_images
{
    padding:0 0 0 0;
    padding-bottom: 10px;
    margin:0 0 0 0;
    max-height: 145px;
    max-width: 180px;
    cursor: pointer;
}

.panel-images
{
    padding-left: 0;
    padding-right: 20;
}


.ul_noIndent
{
    padding: 0;
    margin: 0;
    
}

.li_noFormat
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.p_indent
{
    padding-left: 20px;
    
}


.li_currentPage
{
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
    
    
}

.sm_width
{
    width: 85%;
    max-width: calc(100% - 159px);
    padding-right: 10px;
    
}
.nv_width
{
    padding-top:0px;
    min-width: 159px;
    width: 15%;
    right: 45px;
    position: fixed;
    
}

.li_inline
{
    white-space: nowrap;
    display: inline;
    list-style:none;
    max-width: 50px;
}

